<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}
<div class="container-fluid">
    <div class="jumbotron" style="background-color: #16181b">
        <div class="row">
            <img class="img-fluid col-6 rounded-circle" src="static/pic/luxun.jpg" alt="Card image cap">
            <div class="col-6">
                <div style="color: #f6faff;">为中华之崛起而读书！！！</div>
                <div style="padding-top: 10em">
                    <audio controls autoplay>
                        <source src="static/media/398393.mp3" type="audio/mpeg"/>
                    </audio>
                </div>
                <button class="btn-info">给他投票</button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="jumbotron">
        <div class="row">
            <img class="img-fluid col-6 rounded-circle" src="static/pic/luxun.jpg" alt="Card image cap">
            <div class="col-6">
                <div>学的不仅是技术，更是梦想！！！</div>
                <div style="padding-top: 10em">
                    <audio controls autoplay>
                        <source src="static/media/398393.mp3" type="audio/mpeg"/>
                    </audio>
                </div>

                <button class="btn-info">给他投票</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="static/js/jquery.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>