<div class="jumbotron">
    <h3>{{ title }}</h3>
</div>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-bottom rounded">
    <ul class="navbar-nav container-fluid">
        <li></li>
        <li class="nav-item active">
            <a class="nav-link h-25" href="/">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h-25" href="#">上传音乐</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h-25" href="rank">音乐天梯</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h-25" href="login">我的</a>
        </li>
        <li></li>
    </ul>
</nav>