<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <img class="img-fluid col-6 rounded-circle" src="static/pic/luxun.jpg" alt="Card image cap">
            <div class="col-6">
                <div>为中华之崛起而读书！！！</div>
                <div style="padding-top: 10em">asd</div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <img class="img-fluid col-6 rounded-circle" src="static/pic/luxun.jpg" alt="Card image cap">
            <div class="col-6">
                <div>学的不仅是技术，更是梦想！！！</div>
                <div style="padding-top: 10em">asd</div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="static/js/jquery.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>